  .ftco-navbar-light{
    position: fixed!important;
    right: 0!important;
    left: 0!important;
    top: 0!important;
    background: #fff !important;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1)!important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1)!important;
  }
  .ftco-navbar-light .navbar-brand {
    color: #3a4348!important;
}
.ftco-navbar-light .navbar-nav > .nav-item.active > a {
    color: #24bdc9 !important;
}
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
    color: #24bdc9 !important;
}
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    font-size: 14px!important;
    padding-top: .9rem!important;
    padding-bottom: .9rem!important;
    padding-left: 20px!important;
    padding-right: 20px!important;
     color: #000!important; 
    font-weight: 400!important;
    opacity: 1 !important;
}
.ftco-navbar-light .navbar-nav > .nav-item.cta > a {
color: #fff !important;
    background: #24bdc9!important;
    border: none !important;
    padding-top: 0.5rem !important;
    padding-bottom: .5rem !important;
    padding-left: 20px!important;
    padding-right: 20px!important;
    margin-top: 6px !important;
    -webkit-border-radius: 30px!important;
    -moz-border-radius: 30px!important;
    -ms-border-radius: 30px!important;
    border-radius: 30px!important;
}
.page-link {
     position: relative!important; 
    display: block!important;
         padding: 0.5rem 0.75rem!important;
     margin-left: 0px!important; 
    line-height: 1.25!important;
    color: #78d5ef!important;
    background-color: #fff!important;
    border: 1px solid #dee2e6!important;
}
.page-item:last-child .page-link {
    border-top-right-radius: 50%!important;
    border-bottom-right-radius: 50%!important;
}
.page-item:first-child .page-link {
    /* margin-left: 0; */
    border-top-left-radius: 50%!important;
    border-bottom-left-radius: 50%!important;
}
.pagination{
      display: block!important;
}
.ftco-navbar-light .navbar-toggler {
    border: none!important;
    color: rgb(12, 1, 1) !important;
    cursor: pointer!important;
    padding-right: 0!important;
    text-transform: uppercase!important;
    font-size: 16px!important;
    letter-spacing: .1em!important;
}
.ftco-navbar-light .navbar-toggler {
    font-size: 16px!important;
}
.field-icon {
    float: right;
    margin-right: 15px;
    margin-left: 30px;
    margin-top: -34px;
    position: relative;
    z-index: 2;
}
.slider-text h2 {
    color: #000!important;
}
.slider-text p {
    color: rgba(0, 0, 0, 0.7)!important;
}
.slider-text .btn-primary {
    border: 1px solid #dffffc !important;
    background: #1daf88 !important;
    color: #ffffff !important;
}
.hero-wrap .overlay {
    background: #f8faff!important;
}